<%- include('header', { showSplash }) %>

<%- include('components/tabs') %>


<!-- =======================
     Node Info & Status
======================= -->
<p><%= nodeVersion %></p>

<%- include('components/category') %>
<%- include('components/PostList') %>


<%- include('footer') %>