

<%- include('header', {showSplash}) %>
<style>
  
  
</style>

<div class="home-container">
  
<h1>Wellcome, <%= data.username %></h1>
<h1><%= kk %>, <%= data.Amount %></h1>

<p>আপনি সফলভাবে লগইন করেছেন।</p>

<a href="/logout">Logout</a>

<%- include("partials/bottom-nav", { path: "/" }) %>
<%- include('footer') %>