

<%- include('header', {showSplash}) %>
<style>
  
  
</style>

<div class="home-container">
  <% if (session.user) { %>
  <h1>  <%= data.username %></h1>
   <% } %>

<p>আপনি সফলভাবে লগইন করেছেন।</p>
<p><%= nodeVersion %></p>


  <% if (session.user) { %>
<a href="/logout">Logout</a>
   <% }else{ %>
  <h1><a href="/login">Login</a></h1>
   
   
   <% } %>

  <% if (session.user) { %>
<%- include("partials/bottom-nav", { path: "/" }) %>
  
   <% } %>

<%- include('footer') %>